[Unit]
Description=Arch Linux Discord Rich Presence
After=network.target

[Service]
Type=simple
WorkingDirectory=SCRIPT_DIR_PLACEHOLDER
ExecStart=NODE_PATH_PLACEHOLDER SCRIPT_DIR_PLACEHOLDER/src/index.js
Restart=on-failure
RestartSec=5
Environment="NODE_ENV=production"

[Install]
WantedBy=default.target

